 nav {
   background-color: rgb(68, 0, 255);
   color: white;
   padding: 8px;
 }

 ul {
   list-style: none;
 }

 li a {
   color: white;
   text-decoration: none;
 }

 .banner {
   width: 100%;
   height: 100vh;
   object-fit: cover;
 }

 .banner-text {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: rgb(255, 255, 255);
 }

 .banner-section {
   position: relative;
 }

 banner-backdrop {
   background-color: rgba(0, 0, 0, 0.3);
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
 }

 .portfolio-items {
   display: flex;
   flex-flow: wrap;
   gap: 10px;

   justify-content: center;
 }

 .portfolio-items img {
   width: 30%;

   border-radius: 16px;
   transition: all 0.5s;
 }

 .portfolio-items img:hover {
   filter: brightness(0.6);
 }

 .portfolio-headings {
   text-align: center;
 }

 .about-section {
   text-align: center;
   color: white;
   background-color: rgb(21 156 129);
   padding: 20px;
   margin-top: 40px;
 }

 .btn-download {
   padding-left: 16px;
   padding-right: 16px;
   padding-top: 8px;
   padding-bottom: 8px;
   background-color: transparent;
   border-style: none;
   border: 1px solid white;
   border-radius: 8px;
   color: white;
 }

 .btn-download:hover {
   background-color: white;
   color: black;
 }

 @media screen and ( max-width: 480px) {
  .portfolio-item img {
    width: 47%;
  }
 }